

  <div class="container-fluid" >
    <div class="row align-items-center">
      <div class="col-2">
        <img src="assets\logo.png" alt="Logo" class="img-fluid" style="width: 100px; height: 100px;">
      </div>
      <div class="col">
        <h1 class="text-end white-text">JustDezzi</h1>
      </div>
    </div>
  </div>

 

    <hr>
    <div class="row">
      <div class="col-2">
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a  class="nav-link active" routerLinkActive="true" routerLink="ristoranti-lista" aria-current="page">
              Home
            </a>
          </li>
          <li>
            <a class="nav-link link-body-emphasis" routerLinkActive="true" routerLink="utente">
              
              Utente
            </a>
          </li>
          <li>
            <a  class="nav-link link-body-emphasis">
              
              Carrello
            </a>
          </li>
          <li>
            <a  class="nav-link link-body-emphasis">
              
              Modifica
            </a>
          </li>
          <li>
            <a  class="nav-link link-body-emphasis">
              
              Privacy
            </a>
          </li>
        </ul>
        <hr>
      </div>

      <div class="col">
        <div class="container">
          <router-outlet></router-outlet>
        </div>
        
  
      </div>
    </div>

  

 



